{# app/Resources/views/base.html.twig #}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title> kids admin -{% block title %} {% endblock %}</title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    {% block stylesheets %}

        <link rel="stylesheet"
              href="{{ asset('bundles/Admin/bower_components/bootstrap/dist/css/bootstrap.min.css') }}">
        <!-- Font Awesome -->
        <link rel="stylesheet"
              href="{{ asset('bundles/Admin/bower_components/font-awesome/css/font-awesome.min.css') }}">
        <!-- Ionicons -->
        <link rel="stylesheet" href="{{ asset('bundles/Admin/bower_components/Ionicons/css/ionicons.min.css') }}">
        <!-- Theme style -->
        <link rel="stylesheet" href="{{ asset('bundles/Admin/dist/css/AdminLTE.min.css') }}">
        <!-- AdminLTE Skins. We have chosen the skin-blue for this starter
              page. However, you can choose any other skin. Make sure you
              apply the skin class to the body tag so the changes take effect. -->
        <link rel="stylesheet" href="{{ asset('bundles/Admin/dist/css/skins/skin-blue.min.css') }}">

        <!-- Google Font -->
        <link rel="stylesheet"
              href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic">

    {% endblock %}

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<!--
BODY TAG OPTIONS:
=================
Apply one or more of the following classes to get the
desired effect
|---------------------------------------------------------|
| SKINS         | skin-blue                               |
|               | skin-black                              |
|               | skin-purple                             |
|               | skin-yellow                             |
|               | skin-red                                |
|               | skin-green                              |
|---------------------------------------------------------|
|LAYOUT OPTIONS | fixed                                   |
|               | layout-boxed                            |
|               | layout-top-nav                          |
|               | sidebar-collapse                        |
|               | sidebar-mini                            |
|---------------------------------------------------------|
-->

<body class="hold-transition skin-blue sidebar-mini">
<div class="wrapper">
    <!-- Main Header -->
    <header class="main-header">
        {% block header %}
            <!-- Logo -->
            <a href="{{ path('admin_homepage') }}" class="logo">
                <!-- mini logo for sidebar mini 50x50 pixels -->
                <span class="logo-mini"><b>K</b>LT</span>
                <!-- logo for regular state and mobile devices -->
                <span class="logo-lg"><b>Kids</b>LTE</span>
            </a>

            <!-- Header Navbar -->
            <nav class="navbar navbar-static-top" role="navigation">
                <!-- Sidebar toggle button-->
                <a href="#" class="sidebar-toggle" data-toggle="push-menu" role="button">
                    <span class="sr-only">Toggle navigation</span>
                </a>
                <!-- Navbar Right Menu -->
                <div class="navbar-custom-menu">
                    <ul class="nav navbar-nav">
                        <!-- Messages: style can be found in dropdown.less-->
                        <li class="dropdown messages-menu">
                            <!-- Menu toggle button -->
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                <i class="fa fa-envelope-o"></i>
                                <span class="label label-success">4</span>
                            </a>
                            <ul class="dropdown-menu">
                                <li class="header">You have 4 messages</li>
                                <li>
                                    <!-- inner menu: contains the messages -->
                                    <ul class="menu">
                                        <li><!-- start message -->
                                            <a href="#">
                                                <div class="pull-left">
                                                    <!-- User Image -->
                                                    <img src="{{ asset('bundles/Admin/dist/img/user2-160x160.jpg') }}"
                                                         class="img-circle" alt="User Image">
                                                </div>
                                                <!-- Message title and timestamp -->
                                                <h4>
                                                    Support Team
                                                    <small><i class="fa fa-clock-o"></i> 5 mins</small>
                                                </h4>
                                                <!-- The message -->
                                                <p>Why not buy a new awesome theme?</p>
                                            </a>
                                        </li>
                                        <!-- end message -->
                                    </ul>
                                    <!-- /.menu -->
                                </li>
                                <li class="footer"><a href="#">See All Messages</a></li>
                            </ul>
                        </li>
                        <!-- /.messages-menu -->

                        <!-- Notifications Menu -->

                         {{ render(controller('MgiletNotificationBundle:Notification:list', { 'notifiable': 3 })) }}

                        <!-- Tasks Menu -->
                        <li class="dropdown tasks-menu">
                            <!-- Menu Toggle Button -->
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                <i class="fa fa-flag-o"></i>
                                <span class="label label-danger">9</span>
                            </a>
                            <ul class="dropdown-menu">
                                <li class="header">You have 9 tasks</li>
                                <li>
                                    <!-- Inner menu: contains the tasks -->
                                    <ul class="menu">
                                        <li><!-- Task item -->
                                            <a href="#">
                                                <!-- Task title and progress text -->
                                                <h3>
                                                    Design some buttons
                                                    <small class="pull-right">20%</small>
                                                </h3>
                                                <!-- The progress bar -->
                                                <div class="progress xs">
                                                    <!-- Change the css width attribute to simulate progress -->
                                                    <div class="progress-bar progress-bar-aqua" style="width: 20%"
                                                         role="progressbar"
                                                         aria-valuenow="20" aria-valuemin="0" aria-valuemax="100">
                                                        <span class="sr-only">20% Complete</span>
                                                    </div>
                                                </div>
                                            </a>
                                        </li>
                                        <!-- end task item -->
                                    </ul>
                                </li>
                                <li class="footer">
                                    <a href="#">View all tasks</a>
                                </li>
                            </ul>
                        </li>
                        <!-- User Account Menu -->
                        <li class="dropdown user user-menu">
                            <!-- Menu Toggle Button -->
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">

                            {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                                <!-- The user image in the navbar-->

                                <img src="{{ asset('bundles/Admin/dist/img/user2-160x160.jpg') }}" class="user-image"
                                     alt="User Image">
                                <!-- hidden-xs hides the username on small devices so only the image appears. -->
                                <span class="hidden-xs">{{ app.user.username | default('') }}</span>
                            {% else %}
                            <a href="{{ path('fos_user_security_login') }}">{{ 'layout.login'|trans({}, 'FOSUserBundle') }}</a>
                            {% endif %}

                            </a>
                            <ul class="dropdown-menu">
                                <!-- The user image in the menu -->
                                <li class="user-header">

                                    {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                                    <img src="{{ asset('bundles/Admin/dist/img/user2-160x160.jpg') }}"
                                         class="img-circle" alt="User Image">

                                    <p>
                                        {% block username1 %} {{ 'layout.logged_in_as'|trans({'%username%': app.user.username}, 'FOSUserBundle') }}  {% endblock %}
                                        <small>Member since 2018</small>
                                    </p>
                                    {% endif %}
                                </li>

                                <!-- Menu Body -->
                                {#  <li class="user-body">
                                    <div class="row">
                                        <div class="col-xs-4 text-center">
                                            <a href="#">Followers</a>
                                        </div>
                                        <div class="col-xs-4 text-center">
                                            <a href="#">Sales</a>
                                        </div>
                                        <div class="col-xs-4 text-center">
                                            <a href="#">Friends</a>
                                        </div>
                                    </div>
                                    <!-- /.row -->
                                </li>
                                #}
                                <!-- Menu Footer-->
                                <li class="user-footer">
                                    <div class="pull-left">
                                        <a href="#" class="btn btn-default btn-flat">Profile</a>
                                    </div>

                            <div class="pull-right">
                                {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                                <a class="btn btn-default btn-flat" href="{{ path('fos_user_security_logout') }}">
                                    {{ 'layout.logout'|trans({}, 'FOSUserBundle') }}
                                </a>
                                {% endif %}
                            </div>
                        </li>
                    </ul>
                </li>
                <!-- Control Sidebar Toggle Button -->
                <li>
                    <a href="#" data-toggle="control-sidebar"><i class="fa fa-gears"></i></a>
                </li>
            </ul>
        </div>
    </nav>
{% endblock %}
</header>

<!-- Left side column. contains the logo and sidebar -->
<aside class="main-sidebar">

<!-- sidebar: style can be found in sidebar.less -->
<section class="sidebar">

    <!-- Sidebar user panel (optional) -->
    <div class="user-panel">
        <div class="pull-left image">
            <img src="{{ asset('bundles/Admin/dist/img/user2-160x160.jpg') }}" class="img-circle"
                 alt="User Image">
        </div>
        <div class="pull-left info">
            <p>{% block username %} {{app.user.username}} {% endblock %}</p>
            <!-- Status -->
            <a href="#"><i class="fa fa-circle text-success"></i> Online</a>
        </div>
    </div>

    <!-- search form (Optional) -->
   {#  <form action="#" method="get" class="sidebar-form">
        <div class="input-group">
            <input type="text" name="q" class="form-control" placeholder="Search...">
            <span class="input-group-btn">
      <button type="submit" name="search" id="search-btn" class="btn btn-flat"><i class="fa fa-search"></i>
      </button>
    </span>
        </div>
    </form>
    #}
    <!-- /.search   form -->

            <!-- Sidebar Menu -->
            {% block sidebar %}
                <ul class="sidebar-menu" data-widget="tree">
                    <li class="header">{% block sidebarHeader %} HEADER {% endblock %}</li>
                    <!-- Optionally, you can add icons to the links -->
                    <li class="{% block link1State %}  {% endblock %}"><a href="#"><i class="fa fa-link"></i> <span>Link</span></a></li>
                    <li class="{% block link2State %}  {% endblock %}"><a href="#"><i class="fa fa-link"></i> <span>Another Link</span></a></li>
                    <li class="treeview {% block link6State %} {% endblock %}">
                        <a href="#"><i class="fa fa-link"></i> <span>Pediatres</span>
                            <span class="pull-right-container">
                             <i class="fa fa-angle-left pull-right"></i>
                            </span>
                        </a>
                        <ul class="treeview-menu">
                            <li class="{% block link3State %}  {% endblock %}"><a href="{{ path('pediatre') }}">Liste pediatrician</a></li>
                            <li class="{% block link4State %}  {% endblock %}"><a href="{{ path('pediatre_new') }}">Add pediatrician</a></li>
                            <li class="{% block link5State %}  {% endblock %}"><a href="{{ path('speciality') }}">List
                                    speciality</a></li>
                        </ul>

                    </li>
                    <li class="treeview {% block link15State %} {% endblock %}">
                        <a href="#"><i class="fa fa-link"></i> <span>Events</span>
                            <span class="pull-right-container">
                             <i class="fa fa-angle-left pull-right"></i>
                            </span>
                        </a>
                        <ul class="treeview-menu">
                             <li class="{% block link16State %}  {% endblock %}"><a href="{{ path('AdminEvent') }}">List events</a></li>
                            <li class="{% block link17State %}  {% endblock %}"><a href="{{ path('AdminEvent_new') }}">Add un event</a></li>

                        </ul>
                    </li>
                    {#Start_Ekram Mosteghanemi#}
                    <li class="treeview {% block link66State %} {% endblock %}">
                        <a href="#"><i class="fa fa-link"></i> <span>Forum</span>
                            <span class="pull-right-container">
                                <i class="fa fa-angle-left pull-right"></i>
                            </span>
                        </a>
                        <ul class="treeview-menu">
                            <li class="{% block linkExperienceState %}  {% endblock %}"><a href="{{ path('theme') }}"><i class="fa fa-picture-o"></i> <span>
                                list of themes</span></a></li>
                            <li class="{% block linkExperienceStateGest %}  {% endblock %}"><a href="{{ path('sharedexperiences') }}"><i class="fa fa-book"></i> <span>List Forum</span></a></li>
                            <li class="{% block linkExperienceStateCommentaire %}  {% endblock %}"><a href="{{ path('commentsharedexperience') }}"><i class="fa fa-comments-o"></i> <span>Management Comment</span></a></li>
                        </ul>
                    </li>
                    {#End_Ekram Mosteghanemi#}
                    <li class="treeview {% block link7State %} {% endblock %}">
                        <a href="#"><i class="fa fa-link"></i> <span>Vaccine</span>
                            <span class="pull-right-container">
                             <i class="fa fa-angle-left pull-right"></i>
                            </span>
                        </a>
                        <ul class="treeview-menu">
                            <li class="{% block link8State %}  {% endblock %}"><a href="{{ path('vaccines') }}">Liste des vaccins</a></li>
                            <li class="{% block link9State %}  {% endblock %}"><a href="{{ path('vaccine_new') }}">Ajouter vaccin</a></li>
                        </ul>
                    </li>
                    {#<li class="treeview {% block link10State %} {% endblock %}">
                        <a href="#"><i class="fa fa-link"></i> <span>Forum</span>
                            <span class="pull-right-container">
                             <i class="fa fa-angle-left pull-right"></i>
                            </span>
                        </a>
                        <ul class="treeview-menu">
                            <li class="{% block link11State %}  {% endblock %}"><a href="{{ path('discutea_forum_create_category') }}">create category</a></li>
                            <li class="{% block link13State %}  {% endblock %}"><a href="{{ path('discutea_forum_admin_dashboard') }}">admin dashboard</a></li>
                        </ul>
                    </li>#}
                </ul>
            {% endblock %}
            <!-- /.sidebar-menu -->
        </section>
        <!-- /.sidebar -->
    </aside>

    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <h1>
                {% block pageHeader %}
                {% endblock %}
                <small>
                    {% block pageDescription %}
                    {% endblock %}
                </small>
            </h1>
            <ol class="breadcrumb">
                {% block pageBreadcrumb %}

                {% endblock %}

            </ol>
        </section>

        <!-- Main content -->
        <section class="content container-fluid">
            {% block body %}{% endblock %}
            <!--------------------------
              | Your Page Content Here |
              -------------------------->

        </section>
        <!-- /.content -->
    </div>
    <!-- /.content-wrapper -->

    <!-- Main Footer -->
    <footer class="main-footer">
        <!-- To the right -->
        <div class="pull-right hidden-xs">
            {% block footer_right_text %}
                kids back office
            {% endblock %}
        </div>
        <!-- Default to the left -->
        <strong>Copyright &copy; 2018 <a href="#">Kids</a>.</strong> All rights reserved.
    </footer>

    <!-- Control Sidebar -->
  {#  <aside class="control-sidebar control-sidebar-dark">
        <!-- Create the tabs -->
        <ul class="nav nav-tabs nav-justified control-sidebar-tabs">
            <li class="active"><a href="#control-sidebar-home-tab" data-toggle="tab"><i class="fa fa-home"></i></a></li>
            <li><a href="#control-sidebar-settings-tab" data-toggle="tab"><i class="fa fa-gears"></i></a></li>
        </ul>
        <!-- Tab panes -->
        <div class="tab-content">
            <!-- Home tab content -->
            <div class="tab-pane active" id="control-sidebar-home-tab">
                <h3 class="control-sidebar-heading">Recent Activity</h3>
                <ul class="control-sidebar-menu">
                    <li>
                        <a href="javascript:;">
                            <i class="menu-icon fa fa-birthday-cake bg-red"></i>

                            <div class="menu-info">
                                <h4 class="control-sidebar-subheading">Langdon's Birthday</h4>

                                <p>Will be 23 on April 24th</p>
                            </div>
                        </a>
                    </li>
                </ul>
                <!-- /.control-sidebar-menu -->

                <h3 class="control-sidebar-heading">Tasks Progress</h3>
                <ul class="control-sidebar-menu">
                    <li>
                        <a href="javascript:;">
                            <h4 class="control-sidebar-subheading">
                                Custom Template Design
                                <span class="pull-right-container">
                    <span class="label label-danger pull-right">70%</span>
                  </span>
                            </h4>

                            <div class="progress progress-xxs">
                                <div class="progress-bar progress-bar-danger" style="width: 70%"></div>
                            </div>
                        </a>
                    </li>
                </ul>
                <!-- /.control-sidebar-menu -->

            </div>
            <!-- /.tab-pane -->
            <!-- Stats tab content -->
            <div class="tab-pane" id="control-sidebar-stats-tab">Stats Tab Content</div>
            <!-- /.tab-pane -->
            <!-- Settings tab content -->
            <div class="tab-pane" id="control-sidebar-settings-tab">
                <form method="post">
                    <h3 class="control-sidebar-heading">General Settings</h3>

                    <div class="form-group">
                        <label class="control-sidebar-subheading">
                            Report panel usage
                            <input type="checkbox" class="pull-right" checked>
                        </label>

                        <p>
                            Some information about this general settings option
                        </p>
                    </div>
                    <!-- /.form-group -->
                </form>
            </div>
            <!-- /.tab-pane -->
        </div>
    </aside>

    <!-- /.control-sidebar -->
    <!-- Add the sidebar's background. This div must be placed
    immediately after the control sidebar -->
    <div class="control-sidebar-bg"></div>
    #}
</div>
<!-- ./wrapper -->


{% block javascripts %}
    <!-- REQUIRED JS SCRIPTS -->

    <!-- jQuery 3 -->
    <script src="{{ asset('bundles/Admin/bower_components/jquery/dist/jquery.min.js') }}"></script>
    <!-- Bootstrap 3.3.7 -->
    <script src="{{ asset('bundles/Admin/bower_components/bootstrap/dist/js/bootstrap.min.js') }}"></script>
    <!-- AdminLTE App -->
    <script src="{{ asset('bundles/Admin/dist/js/adminlte.min.js') }}"></script>

    <script src="{{ asset('bundles/petkoparacrudgenerator/js/petkopara-crud-generator.js') }}"></script>


    <!-- Optionally, you can add Slimscroll and FastClick plugins.
         Both of these plugins are recommended to enhance the
         user experience. -->
{% endblock %}
</body>
</html>