{% extends '@Front/base.html.twig' %}
{% block link2State %} active {% endblock %}
{% block title %} Pediatrician {% endblock %}

{% block stylesheet %}
    <style>
        .active_star {
            color : yellow;
        }
        body {
            padding: 30px 0px 60px;
        }
        .panel > .list-group .list-group-item:first-child {
            /*border-top: 1px solid rgb(204, 204, 204);*/
        }
        @media (max-width: 767px) {
            .visible-xs {
                display: inline-block !important;
            }
            .block {
                display: block !important;
                width: 100%;
                height: 1px !important;
            }
        }
        #back-to-bootsnipp {
            position: fixed;
            top: 10px; right: 10px;
        }


        .c-search > .form-control {
            border-radius: 0px;
            border-width: 0px;
            border-bottom-width: 1px;
            font-size: 1.3em;
            padding: 12px 12px;
            height: 44px;
            outline: none !important;
        }
        .c-search > .form-control:focus {
            outline:0px !important;
            -webkit-appearance:none;
            box-shadow: none;
        }
        .c-search > .input-group-btn .btn {
            border-radius: 0px;
            border-width: 0px;
            border-left-width: 1px;
            border-bottom-width: 1px;
            height: 44px;
        }


        .c-list {
            padding: 0px;
            min-height: 44px;
        }
        .title {
            display: inline-block;
            font-size: 1.7em;
            font-weight: bold;
            padding: 5px 15px;
        }
        ul.c-controls {
            list-style: none;
            margin: 0px;
            min-height: 44px;
        }

        ul.c-controls li {
            margin-top: 8px;
            float: left;
        }

        ul.c-controls li a {
            font-size: 1.7em;
            padding: 11px 10px 6px;
        }
        ul.c-controls li a i {
            min-width: 24px;
            text-align: center;
        }

        ul.c-controls li a:hover {
            background-color: rgba(51, 51, 51, 0.2);
        }

        .c-toggle {
            font-size: 1.7em;
        }

        .name {
            font-size: 1.7em;
            font-weight: 700;
        }

        .c-info {
            padding: 5px 10px;
            font-size: 1.25em;
        }
    </style>
    {% endblock %}
{% block body %}

<div class="about" style="margin-top: 200px; color:black;">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-offset-3 col-sm-6">
                <div class="panel panel-default">
                    <div class="panel-heading c-list">
                        <span class="title">Pediatricians</span>
                        <input type="search" placeholder="type a name" id="name-input" />
                        <input type="button" value="search" id="name-btn" />
                    </div>

                    <div class="row" style="display: none;">
                        <div class="col-xs-12">
                            <div class="input-group c-search">
                                <input type="text" class="form-control" id="contact-list-search">
                                <span class="input-group-btn">
                                <button class="btn btn-default" type="button"><span class="glyphicon glyphicon-search text-muted"></span></button>
                            </span>
                            </div>
                        </div>
                    </div>

                    <ul class="list-group" id="contact-list">
                        {% for pediatre in pedaitricians %}
                            <li class="list-group-item">
                                <div class="col-xs-12 col-sm-3">
                                    <img src="{{ images[loop.index -1] }}" alt="Scott Stevens" class="img-responsive img-circle" />
                                </div>
                                <div class="col-xs-12 col-sm-9">
                                    <span class="name">{{ pediatre.name }}</span><br/>
                                    <a target="_blank" href="https://www.google.com/maps/?q={{ pediatre.address.longitude }},{{ pediatre.address.latitude }}"><span class="glyphicon glyphicon-map-marker text-muted c-info" data-toggle="tooltip" title="{{ pediatre.address.rue }}"></span></a>
                                    <span class="visible-xs"> <span class="text-muted">5842 Hillcrest Rd</span><br/></span>
                                    <a href="tel:{{ pediatre.tel }}" ><span class="glyphicon glyphicon-earphone text-muted c-info" data-toggle="tooltip" title="{{ pediatre.tel }}"></span></a>
                                    <span class="visible-xs"> <span class="text-muted">"{{ pediatre.tel }}</span><br/></span>
                                    <a href="mailto:{{ pediatre.email }}" ><span class="fa fa-comments text-muted c-info" data-toggle="tooltip" title="{{ pediatre.email }}"></span></a>
                                    <span class="visible-xs"> <span class="text-muted">{{ pediatre.email }}</span><br/></span>
                                    <br/>
                                    <span>Rating : </span>
                                    <span class="glyphicon glyphicon-star text-muted c-info small {{ pediatre.rating.rate >= 1 ? 'active_star' }}" data-toggle="tooltip" title="1"></span>
                                    <span class="glyphicon glyphicon-star text-muted c-info small {{ pediatre.rating.rate >= 2 ? 'active_star' }}" data-toggle="tooltip" title="2"></span>
                                    <span class="glyphicon glyphicon-star text-muted c-info small {{ pediatre.rating.rate >= 3 ? 'active_star' }}" data-toggle="tooltip" title="3"></span>
                                    <span class="glyphicon glyphicon-star text-muted c-info small {{ pediatre.rating.rate >= 4 ? 'active_star' }}" data-toggle="tooltip" title="4"></span>
                                    <span class="glyphicon glyphicon-star text-muted c-info small {{ pediatre.rating.rate >= 5 ? 'active_star' }}" data-toggle="tooltip" title="5"></span>
                                </div>
                                <div class="clearfix"></div>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
    <script src="{{ asset('bundles/front/js/jquery-2.1.1.min.js')}}"></script>
    <script src="{{ asset('bundles/fosjsrouting/js/router.min.js') }}"></script>
    <script src="{{ path('fos_js_routing_js', { callback: 'fos.Router.setData' }) }}"></script>

    <script>
        $(document).ready(function(){

            $('#name-btn').click(function() {
                var text = $('#name-input').val().toLowerCase();
                $.ajax({
                    type: 'GET',
                    url: '../api/pediatricians/search?text='+text,
                        //Routing.generate('api_pediatrician_search', {text: text}),
                    //data: {text: text},
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    success: function(resultData) {
                        if(resultData.pedaitricians) {
                            console.log(resultData.pedaitricians);
                            var str = ""
                            for (i = 0; i < resultData.pedaitricians.length; i++) {
                                var elem = resultData.pedaitricians[i];
                                str = str +
                                "<li class='list-group-item'>"+
                                "<div class='col-xs-12 col-sm-3'>"+
                                "<img src='"+resultData.images[i]+"' alt='Scott Stevens' class='img-responsive img-circle' />"+
                                "</div>"+
                                "<div class='col-xs-12 col-sm-9'>"+
                                "<span class='name'>"+elem.name+"</span><br/>"+
                                "<a target='_blank' href='https://www.google.com/maps/?q="+elem.address.longitude+","+ elem.address.latitude+"'>" +
                                "<span class='glyphicon glyphicon-map-marker text-muted c-info' data-toggle='tooltip' title='"+ elem.address.rue +"'></span></a>"+
                                "<span class='visible-xs'> <span class='text-muted'>5842 Hillcrest Rd</span><br/></span>"+
                                "<a href='tel:"+ elem.tel +"' ><span class='glyphicon glyphicon-earphone text-muted c-info' data-toggle='tooltip' title='"+ elem.tel +"'></span></a>"+
                                "<span class='visible-xs'> <span class='text-muted'>"+ elem.tel +"</span><br/></span>"+
                                "<a href='mailto:"+ elem.email +"' ><span class='fa fa-comments text-muted c-info' data-toggle='tooltip' title='"+ elem.email +"'></span></a>"+
                                "<span class='visible-xs'> <span class='text-muted'>"+ elem.email +"</span><br/></span>"+
                                "<br/>"+
                                "<span>Rating : </span>"+
                                "<span class='glyphicon glyphicon-star text-muted c-info small " + (elem.rating.rate >= 1 ? 'active_star' :'') +"' data-toggle='tooltip' title='1'></span>"+
                                "<span class='glyphicon glyphicon-star text-muted c-info small " + (elem.rating.rate >= 2 ? 'active_star' : '') +"' data-toggle='tooltip' title='2'></span>"+
                                "<span class='glyphicon glyphicon-star text-muted c-info small " + (elem.rating.rate >= 3 ? 'active_star' : '') +"' data-toggle='tooltip' title='3'></span>"+
                                "<span class='glyphicon glyphicon-star text-muted c-info small " + (elem.rating.rate >= 4 ? 'active_star' : '') +"' data-toggle='tooltip' title='4'></span>"+
                                "<span class='glyphicon glyphicon-star text-muted c-info small " + (elem.rating.rate >= 5 ? 'active_star' : '') +"' data-toggle='tooltip' title='5'></span>"+
                                    "</div>"+
                                    "<div class='clearfix'></div>"+
                                    "</li>";
                            }
                            $('#contact-list').html(str);
                        }
                        //console.log(resultData)
                    }
                });
            });
        });
    </script>

{% endblock %}


