<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>kids | {% block title %} {% endblock %}</title>

    <!-- Bootstrap -->
    <link href="{{ asset('bundles/front/css/bootstrap.min.css') }}" rel="stylesheet">
    <link rel="stylesheet" href="{{ asset('bundles/front/css/font-awesome.min.css')}}">
    <link rel="stylesheet" href="{{ asset('bundles/front/css/animate.css')}}">
    <link href="{{ asset('bundles/front/css/prettyPhoto.css')}}" rel="stylesheet">
    <link href="{{ asset('bundles/front/css/style.css')}}" rel="stylesheet" />
    <!-- =======================================================
      Theme Name: Company
      Theme URL: https://bootstrapmade.com/company-free-html-bootstrap-template/
      Author: BootstrapMade
      Author URL: https://bootstrapmade.com
    ======================================================= -->
</head>

<body>
<header>
    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="navigation">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse.collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <div class="navbar-brand" style="padding: 10px 0px;">
                        <a href="#"><h1><span>All</span>For<span>Kids</span></h1></a>
                    </div>
                </div>

                <div class="navbar-collapse collapse">
                    <div class="menu">
                        <ul class="nav nav-tabs" role="tablist">
                            <li role="presentation"><a href="{{ path('front_homepage') }}"
                                                       class="{% block link1State %}  {% endblock %}">Home</a></li>
                            <li role="presentation"><a href="about.html" class="{% block link2State %}  {% endblock %}">About
                                    Us</a></li>
                            <li role="presentation"><a href="services.html"
                                                       class="{% block link3State %}  {% endblock %}">Services</a></li>
                            <li role="presentation"><a href="portfolio.html"
                                                       class="{% block link4State %}  {% endblock %}">Portfolio</a></li>
                            <li role="presentation"><a href="blog.html" class="{% block link5State %}  {% endblock %}">Blog</a>
                            </li>
                            <li role="presentation"><a href="contact.html"
                                                       class="{% block link6State %}  {% endblock %}">Contact</a></li>
                            {% if is_granted("IS_AUTHENTICATED_REMEMBERED" ) %}
                                <li role="presentation">
                                    <span class="text-small"
                                          style="position: relative; display: block; margin-right: 2px; line-height: 1.42857143; border: 1px solid transparent; border-radius: 0; color: #333; padding: 30px;">{{ 'layout.logged_in_as'|trans({'%username%': app.user.username}, 'FOSUserBundle') }}
                                        | <a style=""
                                             href="{{ path('fos_user_security_logout') }}">{{ 'layout.logout'|trans({}, 'FOSUserBundle') }}</a></span>

                                </li>
                            {% else %}
                                <li role="presentation">
                                    <a href="{{ path('fos_user_security_login') }}">{{ 'layout.login'|trans({}, 'FOSUserBundle') }}</a>
                                </li>
                            {% endif %}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </nav>
</header>

{% block carousel %}
{% endblock %}



{% block body %}
{% endblock %}


{% block info %}
    <section id="conatcat-info">
        <div class="container">
            <div class="row">
                <div class="col-sm-8">
                    <div class="media contact-info wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="600ms">
                        <div class="pull-left">
                            <i class="fa fa-phone"></i>
                        </div>
                        <div class="media-body">
                            <h2>Have a question or need a custom quote?</h2>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
                                incididunt ut labore dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
                                exercitation +0123 456 70 80</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--/.container-->
    </section>
    <!--/#conatcat-info-->
{% endblock %}


{% block footer %}
    <footer>
        <div class="footer">
            <div class="container">
                <div class="social-icon">
                    <div class="col-md-4">
                        <ul class="social-network">
                            <li><a href="#" class="fb tool-tip" title="Facebook"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="#" class="twitter tool-tip" title="Twitter"><i class="fa fa-twitter"></i></a>
                            </li>
                            <li><a href="#" class="gplus tool-tip" title="Google Plus"><i class="fa fa-google-plus"></i></a>
                            </li>
                            <li><a href="#" class="linkedin tool-tip" title="Linkedin"><i
                                            class="fa fa-linkedin"></i></a></li>
                            <li><a href="#" class="ytube tool-tip" title="You Tube"><i
                                            class="fa fa-youtube-play"></i></a></li>
                        </ul>
                    </div>
                </div>

                <div class="col-md-4 col-md-offset-4">
                    <div class="copyright">
                        &copy; Kids . All Rights Reserved.
                        <div class="credits">
                            <!--
                              All the links in the footer should remain intact.
                              You can delete the links only if you purchased the pro version.
                              Licensing information: https://bootstrapmade.com/license/
                              Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/buy/?theme=Company
                            -->
                            <a href="https://bootstrapmade.com/bootstrap-business-templates/">website by</a> by <a
                                    href="https://bootstrapmade.com/">All For Kids team</a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="pull-right">
                <a href="#home" class="scrollup"><i class="fa fa-angle-up fa-3x"></i></a>
            </div>
        </div>
    </footer>
{% endblock %}


<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="{{ asset('bundles/front/js/jquery-2.1.1.min.js')}}"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="{{ asset('bundles/front/js/bootstrap.min.js')}}"></script>
<script src="{{ asset('bundles/front/js/jquery.prettyPhoto.js')}}"></script>
<script src="{{ asset('bundles/front/js/jquery.isotope.min.js')}}"></script>
<script src="{{ asset('bundles/front/js/wow.min.js')}}"></script>
<script src="{{ asset('bundles/front/js/functions.js')}}"></script>

</body>

</html>
